<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/pagestyle.css' %}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        <div class="container">
            <h1 class="logo">Liib</h1>
            <nav>
                 <ul class="nav-links">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li class="dropdown">
                        <a class="dropbtn">Genres</a>
                        <ul class="dropdown-content">
                            {% for genre in genres %}
                            <li><a href="{% url 'genre' genre.code %}">{{ genre.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="{% url 'popular' %}">Bestsellers</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'cart_detail' %}">Cart</a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                     <li class="last"><a href="{% url 'users:profile' %}">{{user.username}}</a>
                         <form class="logout-btn" method="post" action="{% url 'users:logout' %}">
                            {% csrf_token %}
                             <button type="submit">Logout</button></form>
                     </li>
                    {% else %}
                     <li class="last"><a href="{% url 'users:login' %}">Login</a><a href="{% url 'users:register' %}">Register</a></li>
                    {% endif %}

                </ul>
            </nav>
            <form class="search-bar" action="{% url 'search_books' %}" method="get">
                {{searchform.as_p}}
                <button>Search</button>
            </form>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 Liib - Life is in books.</p>
            <div class="social-links">
                <a href="#">Facebook</a>
                <a href="#">Twitter</a>
                <a href="#">Instagram</a>
            </div>
        </div>
    </footer>
</body>
</html>
