{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>Bookstore Homepage</title>
{% endblock %}
{% block content %}
<section class="hero">
    <div class="hero-text">
        <h2>Find Your Next Favorite Book</h2>
        <p>Discover thousands of books across all genres, handpicked for you.</p>
        <a href="{% url 'books' %}" class="btn">Shop Now</a>
    </div>
</section>

<section class="popular-books">
    <h2>Popular Books</h2>
    <div class="book-grid">
        {% for book in booklist %}
        <a href="{% url 'book' book.id %}" class="fill-div">
            <div class="book-item">
                <img src="{{ book.photo.url }}" alt="Book 1">
                <h3>{{ book.title }}</h3>
                <p>Автор: {{ book.author }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</section>
{% endblock %}ss

